
#Ignore non-configuration items that can be created by LaTeX
*.aux
*.bbl
*.log

#Removes locks created by Libre office and Latex files
*.~lock
*.swp
*.pdf
*.out
*.gz
#Remove pycache binaries
__pycache__/
*.pyc

Game/scores.txt
Game/htmlcov

#Neural Network files
Game/NNData/*
