Requirements for the Neural Network

Note: This file will be added into the full requirements for the entrie system once it has been confirmed.

Notes: must run on a debian based linux OS

Requirements
fully up to date OS | command: sudo apt-get update
Various libraries | sudo apt-get install build-essential software-properties-common pkg-config cmake
OpenCV | Commands...
sudo apt-get install python-dev python-numpy libtbb2 libtbb-dev libjpeg-dev libpng-dev libtiff-dev libjasper-dev libdc1394-22-dev
sudo apt-get install libavcodec-dev libavformat-dev libswscale-dev libv4l-dev
sudo apt-get install libxvidcore-dev libx264-dev
sudo apt-get install libgtk-3-dev
sudo apt-get install libatlas-base-dev gfortran
sudo apt-get install python2.7-dev python3.5-dev
sudo apt-get install opencv* libopencv-dev python-opencv


